{% extends 'default/base.html' %}
{% load staticfiles %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/friend/friends.css' %}"/>
{% endblock style %}
{% block main %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">친구</div>
            <div class="panel-body">
                <ul class="mini-friend-list list-group">
                {% for f in friends %}
                    <li class="mini-friend-list-item">
                        <div class="row">
                            <div class="col-md-9">
                                <a href="{% url 'user.read' username=f.username %}">
                                    <img src="{{ f.profile_image.url }}" width="64" height="64">
                                </a>
                                <a href="{% url 'user.read' username=f.username %}">
                                    {{ f.username }}
                                </a>
                            </div>
                            <div class="col-md-3" style="padding:3% 3%;">
                                {% if f == user %}
                                {% elif f in request_user_friends %}
                                <div class="dropdown pull-right">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        친구
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a role="menuitem" href="{% url 'friend.delete' to_username=f.username %}">친구 끊기</a></li>
                                    </ul>
                                </div>
                                {% elif f in request_sent_friends %}
                                    <form method="POST" action="{% url 'friend.cancel' to_username=f.username %}">
                                        <button type="submit" class="btn btn-primary pull-right">친구요청 취소</button>
                                    </form>
                                {% else %}
                                    <form method="POST" action="{% url 'friend.request' to_username=f.username %}">
                                        <button type="submit" class="btn btn-primary pull-right">친구 요청</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock main %}