{% extends 'default/base.html' %}

{% block main %}
    <div class="container">
        <h3>친구 요청</h3>
        {% for req in requests %}
            {{ req.from_user.username }}
            {{ req.created }}
            <form method="POST" action="{% url 'friend.accept' from_username=req.from_user.username %}">
                <button type="submit" class="btn btn-primary">수락</button>
            </form>
            <form method="POST" action="{% url 'friend.decline' from_username=req.from_user.username %}">
                <button type="submit" class="btn btn-primary">거절</button>
            </form>
        {% endfor %}
    </div>
{% endblock main %}