<div class="navbar navbar-default navbar-fixed-top" id="mini-top-bgcolor" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" id="mini-top-title" href="/">MINI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <form method="post" action="{% url 'login' %}" class="form-inline navbar-form">
                        {{ login_form.username }}
                        {{ login_form.password }}
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                {% else %}
                    <ul class="nav nav-pills">
                        <li>
                            <a href="{% url 'user.read' username=user.username %}" class="navbar-btn navbar-link">{{ user.username }}</a>
                        </li>
                        <li><a href="{% url 'timeline' username=user.username %}" class="navbar-btn navbar-link">내
                            타임라인</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle navbar-btn" data-toggle="dropdown" href="#">
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout' %}">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
