
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mini-post-write">
                <form method="post" action="{% url 'post.write' %}" enctype="multipart/form-data" class="form-horizontal" role="form">
                    {{ post_form.as_p }}
                    <div class="panel-footer mini-post-write-footer">
                        <div class="pull-right">
                            <input type="submit" name="submit" class="btn btn-default" value="확인"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
