{% extends "default/base.html" %}
{% load staticfiles %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/profile.css' %}"/>
{% endblock style %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/user/profile.js' %}"></script>
{% endblock js %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                        <h3 class="panel-title">{{ profile.username }}</h3></div>
                        <div class="col-md-4">
                        {% if not me %}
                            <form method="POST" action="{% url 'friend.request' to_username=profile.username %}">
                            <button type="submit" class="btn-primary pull-right">친구 요청</button></form>
                        {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <p>
                                    <img src="{{ profile.profile_image.url }}" height="100" width="100" class="img-circle"/>
                                </p>

                                <p>
                                    <a href="{% url 'friend.read' username=profile.username %}" class="btn btn-primary mini-profile-btn">Friends</a>
                                </p>

                                <p>
                                    <a href="{% url 'timeline' username=profile.username %}" class="btn btn-primary mini-profile-btn">Posts</a>
                                </p>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{ profile.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>생일</td>
                                        <td>{{ profile.birth }}</td>
                                    </tr>
                                    <tr>
                                        <td>가입일</td>
                                        <td>{{ profile.date_joined }}</td>
                                    </tr>
                                    <tr>
                                        <td>전화번호</td>
                                        <td>{{ profile.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>상태</td>
                                        <td>{{ profile.get_relationship_status_display }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer mini-profile-footer">
                        {% if me %}
                            <span class="pull-right">
                                <a href="{% url 'user.update' username=user.username %}" type="button" class="btn btn-sm btn-warning mini-profile-btn">정보
                                    수정</a>
                                <form class="inline" method="POST" id="mini-form-unregister" action="{% url 'user.delete' username=user.username %}">
                                    <button type="submit" class="btn btn-sm btn-danger mini-profile-btn">
                                        탈퇴
                                    </button>
                                </form>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
